# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build and cache directories
dist/
build/
.cache/

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.idea/
.vscode/
*.swp
